.resume-table {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    width: 100%;
}

.resume-table thead {
    width: 100%;
    display: table;
}

.resume-table tbody {
    width: 100%;
    display: table;
}

pre {
    background-color: #282a36 !important;
}

.image-caption {
    text-align: center;
    font-style: italic;
    font-size: 0.9em;
}